body {
    font-family: Segoe UI, Arial, sans-serif;
    background-image: url("/1.gif");
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    background-image: url("/2.gif");
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h2 {
    text-align: center;
    color: rgb(255, 0, 0);
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: rgb(250, 2, 2);
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #09ff1e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fc0808;
}

p {
    text-align: center;
    color: rgb(119, 119, 119);
    margin-top: 20px;
}